@font-face {
  font-family: Powerpuff;
  src: url("font/powerpuff girls font.ttf");
}

@font-face{
  font-family: Akira;
  src: url("font/Akira Expanded Demo.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

:root {
  --primary: #79cadc;   /* Celeste */
  --accent: #e6007e;    /* Fucsia */
  --bg: #f7f9fc;        /* Fondo claro */
  --text: #222;
  --card: #ffffff;
}

body {
  background: var(--bg);
  color: var(--text);
  background-image: url("img/921.jpg");
  background-repeat: repeat;   /* para que se repita como patrón */
  background-size: auto;       /* no la estires */
  background-position: top left;
}

.logo {
  font-family: "Powerpuff";
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #79cadc;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  flex: 1;              /* ocupa el centro */
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 60%;
  max-width: 600px;
  padding: .5rem 1rem;
  border-radius: 20px;
  border: 2px solid var(--primary);
  outline: none;
}

.search-box input:focus {
  border-color: var(--accent);
}


h2{
    margin: 0px;
}
.logo {
  font-size: 1.8rem;
  color: var(--accent);
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre imagen y texto */
}


.nav a {
  margin-left: 1.5rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Hero */
.hero {
  min-height: 75vh;   /* antes 100vh */
  background:
    url("img/grush2.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero p{
  color: #fff;
  font-size: 20px;
  
}

.hero h2 {
  font-size: 5rem;
  color: var(--accent);
  font-family: "akira";
}

.promo h2{
  font-family: "akira";
}

.promo p{
  font-size: 30px;
}

.btn-main {
  margin-top: 1rem;
  padding: .75rem 1.5rem;
  background: var(--accent);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.hero p {
  margin-bottom: 80px;
}

.btn-main:hover {
  background: #b80063;
}

/* Categorías */
.categorias {
  padding: 2rem;
  text-align: center;
}

h2{
    margin: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 200;
}

.grid-categorias {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.categoria-card {
  padding: 1.2rem;
  background: var(--card);
  border: 2px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.categoria-card:hover {
  background: var(--primary);
}

.hotdeal {
  padding: 2rem;
}

.fila-deals {
  display: flex;
  gap: 1rem;
  overflow-x: auto; /* si no entran, se desliza */
  padding: 1rem 0;
  justify-content: center;
}

.fila-deals div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fila-deals img {
  width: 260x;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--primary);

}

.fila-deals p {
  margin-top: .5rem;
  font-size: .9rem;
}


/* Productos */
.productos {
  padding: 2rem;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

.producto-card {
  background: var(--card);
  padding: 1rem;
  border: 2px solid var(--primary);
  border-radius: 8px;
  text-align: center;
}

.producto-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}



.precio {
  color: var(--accent);
  font-size: 1.2rem;
}

.btn-add {
  padding: .5rem 1rem;
  background: var(--accent);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.btn-add:hover {
  background: var(--primary);
  color: #000;
}

/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background: var(--primary);
  color: #000;
}

.beneficios {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: var(--primary); /* celeste corporativo */
  font-weight: bold;
  color: #000;
}

.beneficios div {
  background: #79cadc;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid var(--primary);
}


.promo {
  background: var(--primary);
  padding: 3rem;
  text-align: center;
}

.promo p{
    margin: 60px;
}

.Biemvenida{
text-align: center;
}

.opiniones, .newsletter {
  padding: 3rem 2rem;
  text-align: center;
}

.grid-opiniones {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.grid-opiniones div {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 25%;
}

.newsletter input {
  padding: .5rem;
  margin: 1rem 0;
}

.newsletter h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    gap: 10px;
  }

  .nav a {
    margin: 0 10px;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .beneficios {
    flex-direction: column;
    gap: 1rem;
  }

  .grid-opiniones {
    flex-direction: column;
  }

  .grid-opiniones div {
    width: 100%;
  }

  .grid-categorias {
    grid-template-columns: 1fr 1fr;
  }

}
